body {
  font-family :'나눔고딕', 'Malgun Gothic', sans-serif;
  color: #808080;
}
a:link{
  color: #808080;
  text-decoration: none;
}
ul{
  margin-top: -58px;
  width: 50%;
  float: right;
  padding-right: 10%;
  list-style: none;
  font-weight: bold;
}
ul li{
  float: left;
  margin: 0px 20px;
}
/*CLASS에다가 적용할 CSS 속성*/
.Menu_bt ul{
  display: none;
  height:auto;
  padding:31px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width : 600%;
}

.Menu_bt li:hover ul{
  display: block;
  color: slateblue;
}
a.btn_more{
  float: right;
  font-size: 17px;
  font-weight: bold;
  margin:4px 7px 0 0;
  text-decoration: none;
}
/*ID에다가 적용할 CSS 속성*/
#Logo {
    float: left;
    padding: 0;
    margin-right: 15px;
    width: 360px;
    height: 90px;
    padding-top: 12px;
    padding-left: 13%;
}
#topRight{
  font-size: 9pt;
  float: right;
  padding-right: 16%;
}

#Photo2{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
#Sub_menu{
  color: #808080;
}
#Main_content{
  padding: 0px 0 0px 0;
}
#Main_content > .notice >.header{
  font-size: 18px;
  padding-top: 5px;
  font-weight:bold;
}
