body {
  font-family :'나눔고딕', 'Malgun Gothic', sans-serif;
  color: #808080;
}






.Top_head{
  background-color: yellow;
}
a:link{
  color: #808080;
  text-decoration: none;
}
ul{
  margin-right:394px;
  width: 1000px;
  float: right;
  list-style: none;
  font-weight: bold;
}
ul li{
  float: left;
  margin: 0px 50px;
}
/*CLASS에다가 적용할 CSS 속성*/
.Menu_bt ul{
  display: none;
  height:auto;
  padding:31px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width : 100%;
}

.Menu_bt li:hover ul{
  position: absolute;
  display: block;
  color: slateblue;
}









a.btn_more{
  float: right;
  font-size: 17px;
  font-weight: bold;
  margin:4px 7px 0 0;
  text-decoration: none;
}
div.header > a.btn_more{
  float:right;
  fint-size:17px;
  fint-weight:bold;
  margin:4px 7px 0 0;
  text-decoration:none;
}
/*ID에다가 적용할 CSS 속성*/
#Logo {
    float: left;
    margin-left: 394px;
}
#topRight{
  margin-left: 394px;
  margin-right: 394px;
  font-size: 9pt;
}
#Photo1{
  padding-top: 100px;
}
#Photo2{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
#Sub_menu{
  color: #808080;
}
#Main_content{
  padding: 0px 0 0px 0;
}
#Main_content > .notice >.header{
  font-size: 18px;
  padding-top: 5px;
  font-weight:bold;
}
