*{
  font-family :'나눔고딕', 'Malgun Gothic', sans-serif;
  color: #808080;
}
a{
  text-decoration: none;
}
div{
  border-style: groove;
}

/*클래스 스타일*/
.Contents{
  width: 100%;
  height:300px;
  margin:0 auto;
  background-color: #fffff0;
}
/*ID 스타일*/
#Top_Menu{
  margin:0 auto;
  width: 1000px;
  border-color: blue;
  text-align: right;
}
#Main_Menu{
  margin: 0 auto;
  width: 1000px;
  height: 100px;
}
#Photo1{
  margin:0 auto;
  height: auto;
}
#Photo2{
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}
#Photo3{
  margin-left: 0 auto;
}
#Empty{
  margin: 0 auto;
  width: 1000px;
}
#Menu_bt{
  display: inline;
  list-style:none;
  float: right;
  text-align: right;
  position:relative;
  background-color: #fff000;
}
