*{
  font-family :'나눔고딕', 'Malgun Gothic', sans-serif;
  color: #808080;
}
a{
  text-decoration: none;
}
div{
  border-style: groove;
}

/*클래스 스타일*/


#Top_Menu{
  border-color: blue;
  text-align: right;
}
#Menu_bt{
  list-style:none;
  float: right;
  margin:0 auto;
  position:relative;
}
