*{
  font-family :'나눔고딕', 'Malgun Gothic', sans-serif;
  color: dimgray;
}
a{
  font-weight: 600;
  text-decoration: none;
}
/*클래스 스타일*/
.Contents{
  width: 100%;
  height:300px;
  margin:0 auto;
  background-image:url("../images/notice.png"), url("../images/gallery.png");
  background-size:50%, 50%;
  background-repeat: no-repeat, no-repeat;
  background-position: left center, right center;
}
.Header_Display{
  margin: 0 auto;
  width: 1100px;
  height: 90px;
}
.Header_Display a:hover{
  color: #0000ff;
}
/*ID 스타일*/
#Submenu{
  margin: 0 auto;
  font-size:13px;
  position: absolute;
  /*display:none;*/
  opacity: 0.9;
  background-color: #ffffff;
  width: 100%;
  height: 200px;
  border-top: 1px solid #ccc;

}
#Submenu_box{
  margin: 0 auto;
  height: 200px;
  width:1100px;
}
#Submenu_box > div{
  float: right;
}
#Submenu ul{
  display: inline-block;
  padding:0;
  list-style: none;
  text-align: right;
  vertical-align: top;
}
#Submenu ul li{
  padding : 10px 0;
}
#Submenu ul li a:hover{
  color: blue;
  text-decoration: none;
}

#Top_Menu{
  font-size: 10px;
  margin:0 auto;
  width: 1100px;
  text-align: right;
}
#Photo1{
  margin:0 auto;
  height: auto;
}
#Photo2{
  margin: 0 auto;
  width: 1100px;
  height: 100%;
}

#Empty{
  margin:0 auto;
  width: 1100px;
}
#Menu_bt{
  margin-top: 45px;
  padding:0px;
  list-style:none;
  float: right;
  text-align: right;
}
#Menu_bt > li{
  vertical-align: middle;
  float: left;
}
#Menu_bt > li > a{
  margin-left: 70px;
  vertical-align: middle;
  text-decoration: none;
}

#Notice1{
  background-image:url('../images/notice.png');
  height: 100%;
  float: left;
  width: 34%;
}
#Notice1_1{
  margin-top: 20px;
  margin-left: 20px;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
}
#Notice2{
  float:left;
  height: 100%;
  width: 33%;
  background-color: rgb(238, 238, 238);
}
#Notice2-1{
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 600;
  font-size: 20px;
}
#Notice3{
  height: 100%;
  float: right;
  width: 33%;
  background-color: rgb(228, 225, 222);
}
#Notice3-1{
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 600;
  font-size: 20px;
}
#Bottom{
  margin: 0 auto;
  width: 1100px;
  height: 100px;
}
